* {
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}

.description {
  font-size: 16px;
}

#simulation-selection-menu {
  margin: 10px 0px 0px 0px;
}

#simulation-selection-menu * {
  margin: 0px 0px 10px 0px;
}

#speed-select {
  margin: 0px 0px 0px 10px;
  float: left;
  width: 300px;
}

#simulation-controls {
  margin: 5px 0px 0px 0px;
}

#simulation-controls * {
  display: block-inline;
  float: left;
}

#container {
  width: 700px;
  margin: 0px auto;
}
